{do_specula, false}.
{do_repl, true}.
{do_cert, true}.
{mode, quorum}.
{delay, 0}.
{specula_timeout, 10000}.

{repl_factor, 3}.
{quorum, 3}.
{log_size, 20}.

%% The first replicate the others.
{to_repl,
[
{'antidote@172.31.0.5', ['antidote@172.31.0.106', 'antidote@172.31.0.117']},
{'antidote@172.31.0.106', ['antidote@172.31.0.117', 'antidote@172.31.0.173']},
{'antidote@172.31.0.117', ['antidote@172.31.0.173', 'antidote@172.31.0.5']},
{'antidote@172.31.0.173', ['antidote@172.31.0.5', 'antidote@172.31.0.106']}
]}.
