{do_specula, true}.
{do_repl, false}.
{do_cert, true}.
{mode, quorum}.
{delay, 0}.
{specula_timeout, 1000000}.

{repl_factor, 3}.
{quorum, 3}.
{log_size, 20}.

%% The first replicate the others.
%{to_repl,
%[{'dev1@127.0.0.1', ['dev2@127.0.0.1', 'dev3@127.0.0.1']},
%{'dev2@127.0.0.1', ['dev3@127.0.0.1', 'dev1@127.0.0.1']},
%{'dev3@127.0.0.1', ['dev1@127.0.0.1', 'dev2@127.0.0.1']}]
%}.
{to_repl,
[{'antidote@172.31.0.5', ['antidote@172.31.0.106', 'antidote@172.31.0.117']},
{'antidote@172.31.0.106', ['antidote@172.31.0.117', 'antidote@172.31.0.173']},
{'antidote@172.31.0.117', ['antidote@172.31.0.173', 'antidote@172.31.0.5']},
{'antidote@172.31.0.173', ['antidote@172.31.0.5', 'antidote@172.31.0.106']}]
}.
